apiVersion: v1
data:
  config.yaml: |
    mode: release
    mysql:
      dsn: root:password@tcp(localhost:3306)/admin?charset=utf8mb4&parseTime=True&loc=Local
    logger:
      level: info
      debug: false
      loki:
        level: info
        url: "http://loki.com/loki/api/v1/push"
kind: ConfigMap
metadata:
  name: app-config
  namespace: app
