# 配置源,当你设置为etcd时,必须指定etcd配置
source: file

debug: true

env: dev

etcd:
  prefix: /config
  endpoints:
    - 127.0.0.1:2379

# 下面是各个组件的配置项,当然可能并未补全,当你执行时会自动生成相关的结构
http:
  address:
    - "127.0.0.1:8080"

logger:
  level: info
  logfile:
    enable: true
    filename: ./runtime/logs/cago.log
    errorfilename: ./runtime/logs/cago.err.log
  loki:
    enable: false
    url: "http://127.0.0.1:3100/loki/api/v1/push"
    username: loki
    password: loki

trace:
    endpoint: "192.168.1.136:14268"
    useSsl: false
    sample: 1
