source: etcd # file、etcd

env: dev # dev、test、prod

# 从etcd中读取配置
etcd:
  Prefix: /config
  Endpoints:
    - 127.0.0.1:2379

http:
  Addrs:
    - ":8080"

logger:
  level: info
  debug: false
  loki:
    level: info
    url: "http://loki.com/loki/api/v1/push"
